# Every minute.
@ * * * * * 

# Every 5 minutes.
@ 0,5,10,15,20,25,30,35,40,45,50,55 * * * *

# Every 10 minutes.
@ 0,10,20,30,40,50 * * * * 

# Every 20 minutes.
@ 0,20,40 * * * * 

# Every hour.
@ 0 * * * * 

# Triggers when server is rebooted.
# ! reboot

# Triggers on server cpu alert.
# ! high_cpu
